<div class="container">
  <h2>Calculate Estimated Cycling Time</h2>

  <!-- Dropdown to select a spot -->
  <div class="form-group">
    <label for="chosenSpot">Choose a spot:</label>
    <select id="chosenSpot" [(ngModel)]="chosenSpot">
      <option *ngFor="let spot of spotDetails" [value]="spot.name">{{ spot.name }}</option>
    </select>
  </div>

  <!-- Input fields for user's location -->
  <div class="form-group">
    <label for="latitude">User's Latitude:</label>
    <input type="number" id="latitude" [(ngModel)]="userLocation.latitude" />
  </div>

  <div class="form-group">
    <label for="longitude">User's Longitude:</label>
    <input type="number" id="longitude" [(ngModel)]="userLocation.longitude" />
  </div>

  <div class="form-group">
    <label for="cyclingSpeed">Cycling Speed (km/h):</label>
    <input type="number" id="cyclingSpeed" [(ngModel)]="cyclingSpeed" />
  </div>

  <div class="form-group">
    <label for="dailyCyclingHours">Daily Cycling Hours:</label>
    <input type="number" id="dailyCyclingHours" [(ngModel)]="dailyCyclingHours" />
  </div>

  <button (click)="calculateTime()">Calculate</button>


  <div *ngIf="estimatedTime !== null">
    <p>{{ accessibleMessage }} </p>

  </div>
  <div *ngIf="timeHour">

    <p>Estimated Cycling Time: {{ timeHour | number: '1.1-2' }} hours</p>
  </div>
</div>
